@font-face {
  font-family: "iconfont";
  src: url('iconfont.eot?t=1573119557969');
  /* IE9 */
  src: url('iconfont.eot?t=1573119557969#iefix') format('embedded-opentype'),
    /* IE6-IE8 */
    url('data:application/x-font-woff2;charset=utf-8;base64,d09GMgABAAAAAAKoAAsAAAAABrQAAAJaAAEAAAAAAAAAAAAAAAAAAAAAAAAAAAAAHEIGVgCCfAqBHIEaATYCJAMMCwgABCAFhG0HQhviBREF5Mk+EtMtdnJkFh4oRyrexMP/r6X3zf+7mRSJFDFNZVUjZFn3VAdsQSiWrKt3a9MO90ZFKJbkPPguy8wvRrgQRs/X6SrTClkh6xP3jv8C+iCtR2FOa+/zT10UdnFAge6BUWRtwcgbxi5wCecJdDLMFLFm3frtSpk1LRDnz5w6oszFZZmVSqFeszaLFjVl8aT44Gn4+PhnVpQUaol10eaTa49b8XNYo5GqRmV/qlTzecE2kTAFmdhem98oCcYmnfLZKPblC+ZS+U6xV5tgf53V3AVMgLrihhSumNA9bZTXXYgE6sgYj5mI6RNJoov1ZbrX4037447xPV+3Va17U/1tXz+mNPIQnloSK6pns+fNfga7B93M9C58d4VGrTzYZv2ew6DxPksLIHUUpUDwqeXtw6L7kv9l5ww+/21aG6r7G8tzBILfpejZlnUTbMiq3JWbwWTM+b0FUMpDGqxwLz/GG/v2zhLKnIKh0GQoktIYIjNTUNPZHNSV9OXoZLJ8c2e9sbPIzZjkBRB6eKPQTQeSHr5EZn6o6eePuh5xRic7o/eenY0Lp1YzVoIt1E9wDY3acYmKWi9olr7irCrkPZBnl4I4iIqlHEfkORbMq0lENGimATJwGfY9wcTksZHAikxpGOq6GwUNDQdlNYYqArVA7Qk4DTLSfn+hSve/QMaiV+EWTk3yAbGZGx7EAlEPItePvTj3cs1sZSSE0IDGyABkYBTq9QiY6kd5qCECdkR2kgrtTrqvPljfOHzfAejE2j9FESmyzrfQ1a4icXGidld5p2YUWg4HAAA=') format('woff2'),
    url('iconfont.woff?t=1573119557969') format('woff'),
    url('iconfont.ttf?t=1573119557969') format('truetype'),
    /* chrome, firefox, opera, Safari, Android, iOS 4.2+ */
    url('iconfont.svg?t=1573119557969#iconfont') format('svg');
  /* iOS 4.1- */
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-weibiaoti12:before {
  content: "\e61e";
}

.icon-xiajiantou:before {
  content: "\f034e";
}
